

.layout {

  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;

  display: grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: auto;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

#page-header {
  grid-area: header;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

#page-content {
  grid-area: content;
  padding: 40px;
}

#page-footer {
  grid-area: footer;
  padding-top: 10px;
  text-align: center;
}